.student-info { 
    text-align: right; 
}
div.main-div { 
    width: 80rem;
    padding-left: 2rem; 
}
.main-div table { 
    
}
.main-div p { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.main-div li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}